.authModal {
  background-color: azure;
  border-radius: 15px;
}

.authVisible {
  display: block;
}

.authNotVisible {
  display: none;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: block;
  will-change: opacity;
  opacity: 0.25;
}

.open-modal {
  z-index: 1003;
  display: block;
  opacity: 1;
  top: 10%;
  transform: scaleX(1) scaleY(1);
}